.btn-search, .form-search {
    border-color: var(--pkci-form-bg-light-green);
    background-color: var(--pkci-form-bg-light-green);
}

.btn-search:focus, .form-search:focus {
    border-color: #6ED8CC;
    box-shadow: 0 0 0 0.25rem rgba(51,193,177,.25);
}

.btn-search {
    color: var(--pkci-dark);
}

.btn-search:hover {
    background-color: var(--pkci-green);
    border-color: var(--pkci-green);
    color: #fff;
}

.form-search:disabled {
    background-color: var(--pkci-form-bg-light-green);
    opacity: .65;
}
